<app-navbar></app-navbar>
<section class="blanco animated fadeIn" id="services">
        <div class="container-box">
                <div class="hero hero-is-primary d-flex justify-content-start align-items-center"
                        style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
                        <h3 class="p-3 m-0 text-white">Editar perfil</h3>
                </div>
                <div class="card"
                        style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); min-height: 70vh;">
                        <div class="d-flex justify-content-center align-items-center" *ngIf="isCargando"
                                style="min-height: 70vh;">
                                <i class="fas fa-spinner fa-spin fa-5x"></i>
                        </div>
                        <div class="card-body" *ngIf="!isCargando">

                                <div class="row">
                                        <div class="col-12 mt-3">
                                                <div class="card" style="border: 1px solid rgb(224, 224, 224);">
                                                        <div class="card-body d-flex flex-column align-items-start">
                                                                <div class="d-flex justify-content-between w-100 my-3">
                                                                        <h5 class="card-title m-0">Informacion basica
                                                                        </h5>
                                                                        <div>
                                                                                <button type="button"
                                                                                        class="btn btn-success"
                                                                                        (click)="isEditarActive=true"
                                                                                        [disabled]="isEditarActive">
                                                                                        <i class="fa fa-pencil"
                                                                                                aria-hidden="true"></i>
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="ms-1 btn btn-success"
                                                                                        *ngIf="isEditarActive"
                                                                                        (click)="guardarNuevaInfo()">
                                                                                        <i class="fa fa-floppy-o"
                                                                                                aria-hidden="true"></i>
                                                                                </button>

                                                                        </div>
                                                                </div>
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Nombre</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['nombre']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['nombre']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Apellido paterno</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['apellidoPaterno']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['apellidoPaterno']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Apellido materno</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['apellidoMaterno']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['apellidoMaterno']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Edad</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['edad']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['edad']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Sexo</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['sexo']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['sexo']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Pais</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['pais']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['pais']}}">
                                                                        </div>
                                                                </div>
                                                                <hr class="my-2"
                                                                        style="width: 100%; color: rgb(143, 143, 143);">
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p class="m-0">Contraseña</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p class="m-0" *ngIf="!isEditarActive">
                                                                                        {{informacionPersonal['contrasena']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['nombre']}}">
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-12 my-3">
                                                <div class="card" style="border: 1px solid rgb(224, 224, 224);">
                                                        <div class="card-body d-flex flex-column align-items-start">
                                                                <div class="d-flex justify-content-between w-100 my-3">
                                                                        <h5 class="card-title m-0">Informacion de
                                                                                contacto</h5>
                                                                        <div>
                                                                                <button type="button"
                                                                                        class="btn btn-success"
                                                                                        (click)="isEditarContactoActive=true"
                                                                                        [disabled]="isEditarContactoActive">
                                                                                        <i class="fa fa-pencil"
                                                                                                aria-hidden="true"></i>
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="ms-1 btn btn-success"
                                                                                        *ngIf="isEditarContactoActive"
                                                                                        (click)="guardarNuevaInfoContacto()">
                                                                                        <i class="fa fa-floppy-o"
                                                                                                aria-hidden="true"></i>
                                                                                </button>

                                                                        </div>
                                                                </div>
                                                                <div class="row w-100">
                                                                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                                                                <p>Correo electronico</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                                                                <p *ngIf="!isEditarContactoActive">{{informacionPersonal['correoElectronico']}}
                                                                                </p>
                                                                                <input *ngIf="isEditarContactoActive"
                                                                                        type="text" name="" id=""
                                                                                        value="{{informacionPersonal['correoElectronico']}}">
                                                                        </div>
                                                                </div>

                                                        </div>

                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>


        </div>

</section>