<div class="d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-white mt-11"> Prueba con perfiles sinteticos </h1>

  <div class="container-card">
    <div class="card container-login" style="margin: 1.5rem 0rem 5rem 0rem;">
      <div class="d-flex justify-content-center mb-3">
        <i class="fas fa-hospital-user" style="font-size: 4.5rem;"></i>
      </div>
      <h1 class="heading-primary mb-3 text-center">Ingresa los datos necesarios<span class="span-blue">.</span></h1>


      <div class="d-flex justify-content-center w-100 flex-column">
        <form class="signup-form">
          <div class="datecontainer justify-content-start">
            <label for="start" class="mb-1 ms-3 text-start">Fecha de nacimiento</label>
            <input class="date ms-4" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
          </div>

          <div class="slidecontainer">
            <p class="mb-1 ms-3 text-start">Ritmo cardiaco</p>
            <input class="slider ms-4" type="range" #time (input)="ingresarRitmoCardiaco(time.value)" id="time" min="40" max="200">
            <p class="mb-1 ms-4 text-start">{{ritmoCardiacoSlider}} LPM</p>
          </div>
          <div class="d-flex align-self-start flex-column ms-3">
            <p class="mb-0 text-start">Sexo</p>
            
              <div class="container-1">
                <input type="radio" class="hidden" id="input1" name="inputs">
                <label class="entry" for="input1"><div class="circle"></div><div class="entry-label">Masculino</div></label>
                <input type="radio" class="hidden" id="input2" name="inputs">
                <label class="entry" for="input2"><div class="circle"></div><div class="entry-label">Femenino</div></label>
                <div class="highlight"></div>
                <div class="overlay"></div>
              </div>
            
          </div>

          
          <button class="btn btn-login" (click)="probarPerfil()">Enviar</button>

        </form>

        <h3 class="mt-5 text-center">Resultado de la clasificación: <p class="text-danger">Taquicardia</p>
        </h3>






      </div>
    </div>

  </div>
</div>