a {
  color: #2196f3;
  text-decoration: none;
}

.h-100-cu{
  min-height: 100vh;
}
.container-press {
  width: 500px;

}
.container-card {
  width: 500px;
  margin:  4.5rem 3rem 4.5rem 3rem;
  height: auto;
}

.container-login {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.heading-secondary {
  font-size: 1.5rem;
}

.heading-primary {
  font-size: 1.5rem;
}

.span-blue {
  color: #2196f3;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-form {
  width: 100%;
}

.text-mute {
  color: #aaa;
}

.btn {
  padding: 1rem;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}

.btn-login {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 5px 5px #00000020;
}

.btn-login:active {
  box-shadow: none;
}

.btn-login:hover {
  background: #2180f9;
}

@media only screen and (max-width: 574px) {

  .container-card {
    width: 90%;
    margin:  4.5rem 1rem 4.5rem 1rem;
  }

}