<app-navbar-comercial></app-navbar-comercial>
<div class="d-flex justify-content-center align-items-center h-100-cu flex-wrap">
    <!-- <div class="container-card text-white">
        <h3>Clasificador de ECG</h3>
        <p>Clasificador de ECG te ayuda a realizar clasificaciones de taquicardias y bradicardias a cualquier hora del dia.</p>
    </div> -->
    <div class="container-card">
        <div class="card container-login text-center" style="margin: 4.5rem 0rem 5rem 0rem;">
            <div class="d-flex justify-content-center mb-3">
                <img src="assets\img\logo-ecg.png" style="height: 100px; width: 100px;">
            </div>
            <h1 class="heading-primary mb-3">Iniciar sesion<span class="span-blue">.</span></h1>
            
        
            <div class="d-flex justify-content-center w-100">
                <form class="signup-form">
                  <label class="inp">
                    <input type="email" class="input-text" placeholder="Nombre de usuario">
                    <span class="label">Nombre de usuario</span>

                  </label>
                  <label class="inp">
                    <input type="password" class="input-text" placeholder="Contraseña" id="password">
                    <span class="label">Contraseña</span>
                  </label>
                  <button class="btn btn-login" routerLink="/dashboard">Entrar</button>
                  <p class="text-mute">Aun no eres miembro? <a routerLink="/registry">Registrate</a></p>
                </form>
    
            </div>
        </div>

    </div>
  </div>

