<main class="mt-5 mb-9 animated fadeIn">
  <section class="container-fix d-flex flex-column">
    <section id="welcome-section" class="d-flex flex-column justify-content-center align-items-center">
      <section class="introducing d-flex flex-column justify-content-center align-items-center">
        <article class="flex-init flex-col flex-align-y flex-align-x">
          <h1 class="text-white">Clasificador de taquicardias y bradicardias</h1>
          <p class="text-white">Herramienta que usa en modelos de inteligencia artificial para detectar afecciones del
            corazón</p>
            <div class="d-flex justify-content-center">
                <button type="button text-center" class="btn btn-light">Iniciar</button>
            </div>
        </article>
      </section>
    </section>
  </section>

  <section class="container-fix">
    <section id="about-me" class="d-flex flex-column justify-content-center align-items-center">
      <section class="introducing d-flex justify-content-center align-items-center">
        <article class="presentation d-flex flex-column justify-content-center align-items-center mr-3">
          <h1 class="text-white">¡Servicios de clasificación disponible a todas horas!</h1>
          <p class="text-white">La aplicación se ejecuta en la nube por lo que puede ser accedida en cualquier momento y
            desde cualquier lugar y tiene como objetivo detectar episodios de taquicardia, bradicardia o descartar ambas
            categorías.</p>
          <div class="button">
            <button type="button text-center" class="btn btn-light">Iniciar</button>
          </div>
        </article>
        <img src="\assets\img\CloudComputing.jpg" alt="" loading="lazy">
      </section>
    </section>
  </section>

  <section class="container-fix">

    <section class="d-flex flex-column justify-content-center align-items-center text-white cafe">

      <h1 class="mt-5"> Servicios disponibles </h1>
      <section class="grid-dad">

        <article class="grid-son2 d-flex justify-content-center align-items-center">

          <div class="d-flex flex-column align-items-center">

            <div class="container2 d-flex justify-content-center">
              <i class="fas fa-heartbeat sec-color"></i>
            </div>
            <h1 class="size marginTB">Detección de episodios</h1>
            <p class="size-p marginTB"> El sistema proporciona detección de episodios de taquicardia, bradicardia o
              descarta ambas categorías.</p>
          </div>

        </article>
        <article class="grid-son2 d-flex justify-content-center align-items-center">

          <div class="d-flex flex-column align-items-center">

            <div class="container2 d-flex justify-content-center">
              <i class="fas fa-cloud sec-color"></i>
            </div>
            <h1 class="size marginTB">Siempre encendido</h1>
            <p class="size-p marginTB"> Sistema basado en la nube, de modo que puede ser accedido por cualquier persona
              desde cualquier lugar.</p>
          </div>

        </article>
        <article class="grid-son2 d-flex justify-content-center align-items-center">

          <div class="d-flex flex-column align-items-center">

            <div class="container2 d-flex justify-content-center">
              <i class="fas fa-robot sec-color"></i>
            </div>
            <h1 class="size marginTB">Usa Machine Learning</h1>
            <p class="size-p marginTB"> Sistema basado en un modelo de Machine Learning que garantiza un resultado
              confiable.</p>
          </div>

        </article>




      </section>
    </section>
  </section>

  <div class="container-fixed azul-footer text-white">
    <section class="contact d-flex flex-column align-items-center">
      <h1 class="mt-5">Contáctanos</h1>
      <p>Este es un sistema desarrollado por los alumnos Sánchez Lara Jose Maria y Sánchez Moreno Mauricio Fabián como resultado de las actividades realizadas a lo largo del curso de Proyecto Terminal 1.</p>
    </section>
    <section class="grid-dad">

      <article class="grid-son3 d-flex justify-content-center">

        <div class="cont">
          <h1>Síguenos</h1>
          <p>Clasificador de taquicardias y bradicardias</p>
          <div class="contain">
            <a href="#"><i class="fab fa-facebook-f text-white"></i></a>
            <a href="#"><i class="fab fa-instagram text-white"></i></a>
            <a href="#"><i class="fab fa-facebook-messenger text-white"></i></a>
            <a href="#"><i class="fab fa-whatsapp text-white"></i></a>

          </div>

        </div>

      </article>

      <article class="grid-son3 flex-init flex-align-x">

        <div class="cont">
          <h1 class="size marginTB">Información</h1>

          <p >Taquicardia</p>
          <p >Bradicardia</p>
          <!-- <p >Sitio web desarrollado por</p>
          <div class="d-flex justify-content-center">
            <button type="button text-center" class="btn btn-primary"><a href="https://portfoliolx.glitch.me/" class="text-white" target="_blank">Code
              Lab</a></button>
          </div> -->
        </div>

      </article>

      <article class="grid-son3 flex-init flex-align-x">

        <div class="cont">
          <h1 class="size marginTB">Servicios</h1>

          <p class="size-p marginTB">Detección de episodios</p>
          <p class="size-p marginTB">Siempre encendido</p>
          <p class="size-p marginTB">Usa Machine Learning</p>
        </div>

      </article>

      <article class="grid-son3 flex-init flex-align-x">

        <div class="cont">
          <h1 class="size marginTB">Dirección</h1>
          <p class="size-p marginTB">Av Instituto Politécnico Nacional 2580, La Laguna Ticoman, Gustavo A. Madero, 07340 Ciudad de México, CDMX</p>
        </div>

      </article>

    </section>
  </div>

</main>