a {
  color: #2196f3;
  text-decoration: none;
}
.h-100-cu{
  min-height: 100vh;
}
.container-card {
  max-width: 1100px;
  margin:  4.5rem 3rem 4.5rem 3rem;
  height: auto;
}

.container-login {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.heading-secondary {
  font-size: 1.5rem;
}

.heading-primary {
  font-size: 1.5rem;
}

.span-blue {
  color: #2196f3;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-form {
  width: 100%;
}

.text-mute {
  color: #aaa;
}

.btn {
  padding: 0.5rem;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}

.btn-login {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 5px 5px #00000020;
}

.btn-login:active {
  box-shadow: none;
}

.btn-login:hover {
  background: #2180f9;
}

.inp {
  position: relative;
}




.label {
  pointer-events: none;

  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.9rem;
  opacity: 0;
  color: #00000070;
  font-weight: 500;
  transition: all 0.2s;
  transform-origin: left;
}

.input-text {
  font-family: inherit;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 2rem;
  background: #eee;
  width: 100%;
}

.input-text:focus {
  outline-color: #2196f3;
}

.input-text:not(:placeholder-shown)+.label,
.input-text:focus+.label {
  top: -1.5rem;
  transform: scale(0.75);
  opacity: 1;
}

.input-text:focus+.label {
  color: #2196f3;
}

.input-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #00000070;
}

.input-icon-password {
  cursor: pointer;
}


@media only screen and (max-width: 938px) {

  .input-text:not(:placeholder-shown)+.label,

  .input-text:focus+.label {
    top: -1.5rem;
    transform: scale(0.75);
    opacity: 1;
  }

  .input-text:focus+.label {
    color: #2196f3;
  }


}

@media only screen and (max-width: 574px) {

  .container-card {
    width: 90%;
    margin:  4.5rem 1rem 4.5rem 1rem;
  }

}