<app-navbar></app-navbar>
<section class="blanco animated fadeIn" id="services">
    <div class="container-box">
        <div class="hero hero-is-primary d-flex justify-content-start align-items-center" style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
            <h3 class="p-3 m-0 text-white">{{mensaje}} {{nombre}}, ¿Que te gustaria realizar?</h3>
        </div> 
        <div class="card"
        style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); min-height: 70vh;">
        <div class="card-body">

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
                        <div class="card"
                            style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
                            <div class="card-body d-flex flex-column align-items-center">
                                <a routerLink="/nueva-clasificacion"><i class="fa fa-upload fa-5x" aria-hidden="true"></i></a>
                                <h5 class="card-title mt-3">Ingresar nueva clasificacion</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
                        <div class="card"
                            style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
                            <div class="card-body d-flex flex-column align-items-center">
                                <a routerLink="/historial"><i class="fa fa-list-alt fa-5x" aria-hidden="true"></i></a>

                                <h5 class="card-title mt-3">Historial de lecturas</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
                        <div class="card"
                            style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
                            <div class="card-body d-flex flex-column align-items-center">
                                <a routerLink="/editar"><i class="fa fa-address-card fa-5x" aria-hidden="true"></i></a>
                                <h5 class="card-title mt-3">Modifica tus datos</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
                        <div class="card"
                            style="box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
                            <div class="card-body d-flex flex-column align-items-center">
                                <a routerLink="/dashboard"><i class="fa fa-eye fa-5x" aria-hidden="true"></i></a>
                                <h5 class="card-title mt-3">Visualizador de ECG</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>