.blanco {
    background-color: #c3d7ec;
    min-height: 100vh;
}

.hero {
    width: 100%;
    height: 10vh;
}

.hero-is-primary {
    /* background: #6190E8;
    background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);
    background: linear-gradient(to left, #A7BFE8, #6190E8); */
    background: #1c92d2;
    background: -webkit-linear-gradient(to left, #bdf4ff, #1c92d2);
    background: linear-gradient(to left, #bdf4ff, #1c92d2);

}